.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu {
    @include tablets {
      display: none;
    }
  }
  &__buttons {
    padding-top: 16px;
    display: flex;
    align-items: center;
    @include phones {
      display: none;
    }
  }
  &__hamburger {
    display: none;
    @include tablets {
      display: block;
      margin-left: 80px;
    }
  }
}
