.hero {
  padding: 56px 0;
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: none;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    @include desktop {
      padding-top: 40px;
    }
  }
  &__downbutton {
    display: flex;
    justify-content: center;
  }
}
