.skills-row__title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
  @include tablets {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
  }
}

.skills-row__list {
  display: flex;
  flex-wrap: wrap;

  @include tablets {
    justify-content: center;
  }
}

.skills-row__item {
  margin-left: 4%;
  &:first-of-type {
    margin-left: 0;
  }
  @include desktop {
    margin-left: 2%;
  }
}
