
.tag {
  padding: 13px 21px;
  background: #F3F6F9;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 600;
  color: rgba($dark-text-color, .8);
  @include desktop {
    padding: 1vw 1.5vw;
    font-size: 1.4vw;
    border-radius: 3.2vw;
  }
  @include tablets {
    padding: 2vw 2.7vw;
    font-size: 1.9vw;
    border-radius: 2.9vw;
  }
}
