.thumbs {
  display: flex;
  justify-content: flex-end;
  &__item {
    height: 104px;
    width: 18%;
    @include desktop {
      height: 6vw;
    }
    &.active,
    &:hover {
      outline: 3px solid #f29400;
      z-index: 1;
    }
  }
  &__link {
    display: block;
    transition: $base-transition;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
