.works {
  color: $dark-text-color;
  margin-bottom: 145px;
  @include desktop {
    margin-bottom: 50px;
  }
  @include tablets {

  }
  &__content {
    padding-bottom: 60px;
    @include phones {
      padding-bottom: 0;
    }
    @include tablets {

    }
  }

  &__container {
    @include phones {

    }
  }

  &__section-title {
    @include tablets {

    }
    @include phones {

    }
  }
}
