.works {
  color: $dark-text-color;
  margin-bottom: 145px;
  &__content {
    padding-bottom: 60px;
    @include phones {
      padding-bottom: 0;
    }
  }

  &__container {
    @include phones {

    }
  }

  &__section-title {
    @include phones {

    }
  }
}
