header.header
    .header__logo
        a.logo(href="") ВА
    .header__menu
        nav.menu
            ul.menu__list
                - var menuLinks = ["Обо мне", "Навыки", "Работы", "Отзывы"];
                each item in menuLinks
                    li.menu__item
                        a(href="#").menu__link #{item}
    .header__buttons
        .header__socials
            ul.socials
                - var socials = ['insta', 'github', 'vk', 'envelope'];
                each item in socials
                    li.socials__item
                        a(href=`${item === 'envelope' ? 'mailto:sabantsev@yandex.ru' : '#'}`).socials__link
                            +icon(item, 'socials__icon')
        .header__hamburger
            button.hamburger
                span.hamburger__line
                span.hamburger__line
                span.hamburger__line
