section.fullscreen-section.hero
    .container.hero__container
        include ./header
        .hero__content
            .userinfo
                .userinfo__title Личный сайт #[span.userinfo__occ веб разработчика]
                .userinfo__name Владимир <br>Астаханов
        .hero__downbutton
            .scroll-down
                a(href="").scroll-down__btn Скролл
