.reviews
    .container
        .slider
            .slider__header
                .slider__title.section-title Что обо мне говорят
                .slider__buttons
                    button(type="button").slider__btn.round-btn.round-btn--pointer-left
                    button(type="button").slider__btn.round-btn.round-btn--pointer-right
            ul.slider__content
                - for (var i = 0; i < 2; i++)
                    li.slider__item
                        .quote
                            .quote__text
                                p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                            .quote__user
                                .user-min
                                    .user-min__avatar
                                        .user-min__pic-wrapper
                                            +image('content/user.jpg', 'user-min__avatar-pic')
                                    .user-min__info
                                        .user-min__name Ковальчук Дмитрий
                                        .user-min__occ Основатель Loftschool