.auth {
  max-width: 410px;
  margin: 0 auto;
  background: #ffffff;
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #43436B;
    margin-bottom: 30px;
  }
  &__form-group {
    margin-bottom: 37px;
  }
  &__form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
    margin-top: 48px;
  }
}
