.header {
  background: #43436B;
  color: #ffffff;
  grid-row: 1/2;
  &__container {
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
  }
  &__title {

  }
  &__title-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.5;
  }
  &__logout {
    justify-self: end;
  }
}
