.add-line-component {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr;
  align-items: center;
  &__inputs {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }
  &__btns {
    display: flex;
    justify-content: flex-end;
  }
}