extends ./main.layout.pug

block content
  .welcome-section
    include ./templates/blocks/hero
    include ./templates/blocks/about
  include ./templates/blocks/values
  include ./templates/blocks/works
  include ./templates/blocks/reviews
  include ./templates/blocks/footer