.avatar-component {
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__img-wrap {
    overflow: hidden;
    border-radius: 50%;
    margin-right: 30px;
    &--bordered {
      box-shadow: 0 0 5px mediumpurple;
    }
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__username {
    color: #ffffff;
  }
}
